@model IEnumerable<OnlineTicketingSystemCore.Models.Ticket>
@{
    ViewData["Title"] = lan["Search"];
}

<h1>@lan["Search"]</h1>

<br />
<br />
<form method="post">
    <p>
        <span style="font-weight:bold">@lan["SearchBy"]</span>&nbsp;&nbsp;&nbsp;
        @lan["Project"] <input checked="checked" id="Search" name="Search" type="radio" value="ProjectTitle" />&nbsp;
        @lan["Department"] <input id="Search" name="Search" type="radio" value="DeptName" />&nbsp;

        @lan["Employee"] <input id="Search" name="Search" type="radio" value="EmpName" />&nbsp;

        @lan["Description"] <input id="Search" name="Search" type="radio" value="Desc" />&nbsp;
        <!--Status &nbsp; <input id="Search" name="Search" type="radio" value="Status" />-->
        @lan["SubmitDate"] <input id="Search" name="Search" type="radio" value="Date" />&nbsp;&nbsp;
        @*@lan["Search"]*@<input type="text" id="SearchString" name="SearchString" />&nbsp;&nbsp;
        <input type="submit" value="Search" />        
    </p>
</form>
<table class="table">
    @{ 
        if (Model != null && Model.Count() != 0)
        {
    <tr>
        <th>
            @*@Html.ActionLink(lan["Department, "Index", new { sortOrder = ViewBag.DeptSortParm })*@
            @lan["Department"]
            @*@Html.DisplayNameFor(model => model.Department.DeptName)*@
        </th>
        <th>
            @*@Html.ActionLink(lan["Employee, "Index", new { sortOrder = ViewBag.EmpSortParm })*@
            @lan["Employee"]
        </th>
        <th>
            @*@Html.ActionLink(lan["Project, "Index", new { sortOrder = ViewBag.ProjSortParm })*@
            @lan["Project"]
        </th>
        <th>
            @*@Html.ActionLink(lan["Description, "Index", new { sortOrder = ViewBag.DesSortParm })*@
            @lan["Description"]
        </th>
        <th>
            @*@Html.ActionLink(lan["SubmitDate, "Index", new { sortOrder = ViewBag.DateSortParm })*@
            @lan["SubmitDate"]
        </th>
        <th>
            @*@Html.ActionLink(lan["Status, "Index", new { sortOrder = ViewBag.StatusSortParm })*@
            @lan["Status"]
        </th>
        <th></th>
    </tr>
        }
    }

    @{
        if(ViewBag.Method=="POST")
        //if (IsPost)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.DeptName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.EmpName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmitDate)
                    </td>
                    <td>
                        @if (item.Status == "O")
                        {
                            <span>Open</span>
                        }
                        else if (item.Status == "C")
                        {
                            <span>Close</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink(lan["Edit"], "Edit", new { id = item.TicketId }) |
                        @Html.ActionLink(lan["Details"], "Details", new { id = item.TicketId }) |
                        @Html.ActionLink(lan["Delete"], "Delete", new { id = item.TicketId })
                    </td>
                </tr>
            }

        }
    }

</table>


